<div style=" padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;">
<div class="row g-0">

  <div class="col-sm-2" 
  *ngFor="let Category of Category"
  style="background-color: black;">
  <a href="category/{{Category.category}}">
    <img src={{Category.staticImage}}
    alt="Girl in a jacket" width="100%" height="auto">
  </a>
  </div>

  <div class="col-sm-2"  
  style="background-color: black;">
  <a href="category/all">
    <img src="https://image.similarpng.com/very-thumbnail/2020/06/Logo-Instagram-premium-vector-PNG.png"
    alt="Girl in a jacket" width="100%" height="auto">
  </a>
  </div>
    

</div>
